@charset "UTF-8";
   
   body 
    {
        background-color: rgb(200, 221, 221);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 15px;
    }
    
    h1  {color: rgb(245, 186, 99);
        background-color: lightcoral;}
    
    h2  {color: brown;}
    
    p   {text-align: justify;}







